.main_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  justify-content: space-around;
  height: fit-content;
  gap: 1rem;
}

.main-message {
  text-align: center;
  font-size: clamp(1rem, 2vw, 2rem);
  background-color: aliceblue;
  color: var(--main-message);
  padding: 2rem;
  margin: 5rem auto;
  max-width: 30ch;
}
