* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: hsl(0, 0%, 98%);
  --header-bl: hsl(0, 0%, 52%);
}

body {
  background: url(./assets/bg.jpg) no-repeat center center/cover;
  height: fit-content;
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
}

a:visited,
a:focus,
a:link {
  text-decoration: none;
}

